<div class="navbar">
  
  <div class="navbar-title">
    <h1>ADMIN PANEL</h1>
   
    <div class="abs">
      <button class="Btn" routerLink="/login" (click)="service.logout()">
        <div class="sign">
          <svg viewBox="0 0 512 512">
            <path
              d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
            ></path>
          </svg>
        </div>

        <div class="text">Logout</div>
      </button>
    </div>
  </div>


<div class="card-container">
  <div class="row wid">
    <div class="card col-12 col-md-4">
      <label>Date Wise Income :</label>
      <div>
        <input
          class="input"
          type="date"
          style="color: black"
          (input)="handleInputs($event)"
        />
      </div>
      <div *ngFor="let data of FilteredroomsIncome">
        <p>
          <b>TOTAL</b> : {{ data.total_amount | currency : "INR" : "symbol"
          }}<ng-container *ngIf="data.total_amount == null">0</ng-container>
        </p>
        <div class="row">
          <p class="col-6">
            <b>CASH</b> :{{ data.cash_amount | currency : "INR" : "symbol"
            }}<ng-container *ngIf="data.cash_amount == null">0</ng-container>
          </p>
          <p class="col-6">
            <b>ONLINE</b> : {{ data.online_amount | currency : "INR" : "symbol"
            }}<ng-container *ngIf="data.online_amount == null">0</ng-container>
          </p>
        </div>
      </div>
    </div>
    <div class="card col-12 col-md-6" *ngFor="let data of DayIncome">
      <label>TODAYS INCOME</label>
      <p>
        <b>TOTAL</b> : {{ data.total_amount | currency : "INR" : "symbol"
        }}<ng-container *ngIf="data.total_amount == null">0</ng-container>
      </p>
      <div class="row">
        <p class="col-6">
          <b>CASH</b> :{{ data.cash_amount | currency : "INR" : "symbol"
          }}<ng-container *ngIf="data.cash_amount == null">0</ng-container>
        </p>
        <p class="col-6">
          <b>ONLINE</b> : {{ data.online_amount | currency : "INR" : "symbol"
          }}<ng-container *ngIf="data.online_amount == null">0</ng-container>
        </p>
      </div>
    </div>
    <div class="card col-12 col-md-6" *ngFor="let data of MonthArray">
      <label>MONTHLY INCOME</label>

      <p>
        <b>TOTAL</b> : {{ data.total_amount | currency : "INR" : "symbol"
        }}<ng-container *ngIf="data.total_amount == null">0</ng-container>
      </p>
      <div class="row">
        <p class="col-6">
          <b>CASH</b> :{{ data.cash_amount | currency : "INR" : "symbol"
          }}<ng-container *ngIf="data.cash_amount == null">0</ng-container>
        </p>
        <p class="col-6">
          <b>ONLINE</b> : {{ data.online_amount | currency : "INR" : "symbol"
          }}<ng-container *ngIf="data.online_amount == null">0</ng-container>
        </p>
      </div>
    </div>
    <div class="card col-12 col-md-4" *ngFor="let data of YearArray">
      <label>YEARLY INCOME </label>
      <p>
        <b>TOTAL</b> : {{ data.total_amount | currency : "INR" : "symbol"
        }}<ng-container *ngIf="data.total_amount == null">0</ng-container>
      </p>
      <div class="row">
        <p class="col-6">
          <b>CASH</b> :{{ data.cash_amount | currency : "INR" : "symbol"
          }}<ng-container *ngIf="data.cash_amount == null">0</ng-container>
        </p>
        <p class="col-6">
          <b>ONLINE</b> : {{ data.online_amount | currency : "INR" : "symbol"
          }}<ng-container *ngIf="data.online_amount == null">0</ng-container>
        </p>
      </div>
    </div>
  </div>

  <div class="row wid">
    <div class="col-12 col-lg-2 ps-md-4 my-2">
      <div
        class="p-4 hei"
        style="background-color: #fdc9c9; flex: 1; border-radius: 20px"
      >
        <h3 style="text-align: center" class="pb-3"><b>ENGAGED ROOM</b></h3>
        <h2
          *ngIf="!engagedRooms || engagedRooms.length === 0"
          class="no-room-message"
        >
          No room found
        </h2>
        <div class="room-grid-engaged">
          <div *ngFor="let room of engagedRooms" class="room-container">
            <p class="room-number">
              {{ room.room_number }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-2 ps-md-4 my-2">
      <div
        class="p-4 hei"
        style="background-color: #fdc9c9; flex: 1; border-radius: 20px"
      >
        <h3 style="text-align: center" class="pb-3"><b>CLEANING ROOM</b></h3>
        <h2
          *ngIf="!CLeanRooms || CLeanRooms.length === 0"
          class="no-room-message"
        >
          No room found
        </h2>
        <div class="room-grid-engaged">
          <div *ngFor="let room of CLeanRooms" class="room-container">
            <p class="room-number1">
              {{ room.room_number }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-8 ps-md-4 my-2">
      <div class="back-color p-5 hei">
        <div class="page-wrapper m-4">
          <div
            class="room-detail-container"
            *ngFor="let category of getCategoryKeys()"
          >
            <h2>
              <b>{{ category }}</b>
            </h2>
            <div class="room-grid">
              <div
                *ngFor="let room of RoomsByCategory[category]"
                [ngClass]="{
                  available: room.roomStatus === 'AVAILABLE',
                  engaged: room.roomStatus === 'ENGAGE',
                  cleaning: room.roomStatus === 'CLEAN'
                }"
                class="room-detail"
              >
                {{ room.room_number }}
              </div>
            </div>
          </div>
        </div>
        <div class="room-legend">
          <div class="m-3">
            <div style="background-color: red; height: 25px; width: 50px"></div>
            ENGAGE ROOM
          </div>
          <div class="m-3">
            <div
              style="
                background-color: rgb(7, 122, 17);
                height: 25px;
                width: 50px;
              "
            ></div>
            AVAILABLE ROOM
          </div>
          <div class="m-3">
            <div
              style="
                background-color: rgb(255, 238, 0);
                height: 25px;
                width: 50px;
              "
            ></div>
            CLEANING ROOM
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
