.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px;
    position: relative;
}

.NewRoomContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar i {
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 15px;
}

.navbar h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}
    
    
    
    
    
    
    
    
    .container {
        background-color: aquamarine;
    padding: 28px;
    border-radius: 30px;
    max-width: 410px;
    margin-top: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .container div {
        margin-bottom: 15px;
    }
    
    .container label {
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
        display: block;
        margin-bottom: 5px;
    }
    
    .container input[type="email"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
    }
    .container input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
    }
    .container input[type="number"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
    }
    .container input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        box-sizing: border-box;
    }

