<div class="navbar">
  <i class="bi bi-arrow-90deg-left" routerLink="/login"></i>
  <h1>Forgot Password</h1>
</div>

<div class="container" *ngIf="EamilContainer">
  <div><label>Enter Mail Id</label></div>
  <div><input type="email" [(ngModel)]="forgotPassObj.mailTo" /></div>
  <button class="btn btn-primary" (click)="sendOptFunTs()" [disabled]="!forgotPassObj.mailTo">
    Send Otp
  </button>
</div>

<div class="container" *ngIf="OtpContainer">
  <div><label>Enter Otp</label></div>
  <div><input type="number" [(ngModel)]="forgotPassObj.otpFromFrontEnd" /></div>
  <button class="btn btn-primary" (click)="verifyOtpFunTs()">Verify Otp</button>
</div>

<div class="container" *ngIf="newPasswordContainer">
  <form [formGroup]="newPasswordForm" (ngSubmit)="changePasswordFunTs()">
    <label>New Password</label>
    <div style="position: relative">
      <input type="password" formControlName="user_password" id="password" maxlength="20" />
      <span class="glyphicon glyphicon-eye-open" style="
          position: absolute;
          top: 50%;
          transform: translateY(-80%);
          right: 5px;
          cursor: pointer;
        " (click)="togglePasswordVisibility()"></span>
    </div>
    <div *ngIf="
        newPasswordForm.get('user_password')!.invalid &&
        newPasswordForm.get('user_password')!.touched
      " class="ErrorMessage">
      <div *ngIf="newPasswordForm.get('user_password')!.errors?.['required']">
        Password is required.
      </div>
      <div *ngIf="newPasswordForm.get('user_password')!.errors?.['pattern']">
        Password must contain at least one special character, one numeric
        character, and one lowercase character.
      </div>
    </div>

    <label>Confirm Password</label>
    <input type="password" formControlName="user_password_confirmation" maxlength="20" />
    <div *ngIf="
        newPasswordForm.get('user_password_confirmation')!.invalid &&
        newPasswordForm.get('user_password_confirmation')!.touched
      " class="ErrorMessage">
      <div *ngIf="newPasswordForm.get('user_password_confirmation')!.errors?.['required']">
        Password confirmation is required.
      </div>
    </div>

    <button class="btn btn-primary">Change Password</button>
  </form>
</div>