.container {
  max-width: 600px;
  margin: 100px auto;
  padding: 83px;
  background: #e3f3f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary {
  text-align: center;
    justify-content: center;
    display: flex;
    margin-left: 158px;
    background-color: #007bff;
    color: white;
    max-width: 268px;
    margin-bottom: 10px;
}

.btn-block {
  width: 100%;
}

.alert {
  padding: 10px;
  border-radius: 5px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
}

.text-danger {
  color: #dc3545;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #007bff;
}

.text-primary:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    margin: 112px 71px;
    padding: 50px;
    }
  

  h2 {
    font-size: 24px;
  }

  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
  .btn-primary {
    margin-bottom: 19px;
    margin-left: 190px;
    max-width: 139px;
  }
}

@media (max-width: 576px) {
  .container {
    margin: 127px 11px 66px 11px;
    padding: 34px;
    }
  

  h2 {
    font-size: 20px;
  }

  .btn {
    padding: 6px 12px;
    font-size: 12px;
  }


.mt-4 {
  margin-top: 1.5rem;
}
.btn-primary {
  margin-left: 90px;
  max-width: 139px;
}
}
@media(max-width:380px){
  .btn-primary {
    margin-left: 65px;
    max-width: 120px;
  }

}
