<div class="navbar">
  <i class="bi bi-arrow-90deg-left" routerLink="/userFoodRoute"></i>
  <h1>{{ categoryName }}</h1>
  <button (click)="ClickAddFoodSubCategory()">Add Food</button>
</div>

<form [formGroup]="FoodSubcatForm" (ngSubmit)="AddFoodSubCat()">
  <div class="NewRoomContainer" *ngIf="AddFoodSubcatContainer">
    <span class="closebtn" (click)="closeNav()">&#10005;</span>
    <div>
      <label for="food_name">Name:</label>
      <input type="text" id="food_name" formControlName="food_name" />
      <div
        *ngIf="
          FoodSubcatForm.get('food_name')?.invalid &&
          FoodSubcatForm.get('food_name')?.touched
        "
      >
        <small *ngIf="FoodSubcatForm.get('food_name')?.errors?.['required']"
          >Name is required.</small
        >
      </div>
    </div>

    <div>
      <label for="rate">rate:</label>
      <input type="text" id="rate" formControlName="rate" />
      <div
        *ngIf="
          FoodSubcatForm.get('rate')?.invalid &&
          FoodSubcatForm.get('rate')?.touched
        "
      >
        <small *ngIf="FoodSubcatForm.get('rate')?.errors?.['required']"
          >rate is required.</small
        >
      </div>
    </div>

    <button type="submit" [disabled]="FoodSubcatForm.invalid">Submit</button>
  </div>
</form>

<table>
  <tr>
    <th>Food ID</th>
    <th>Food Name</th>
    <th>Food Rate</th>

    <th>Action</th>
  </tr>
  <tr *ngIf="FOodSubCatArray.length == 0">
    <td colspan="15" class="text-center">No record found</td>
  </tr>
  <tr *ngFor="let data of FOodSubCatArray; let i = index">
    <td>{{ data.food_id }}</td>
    <td>{{ data.food_name }}</td>
    <td>Rs.{{ data.rate }}</td>

    <td>
      <i class="bi bi-pencil-square" (click)="EditRoom(i, data)"></i>
      <i class="bi bi-trash3" (click)="DeleteRoom(data.food_id)"></i>
    </td>
  </tr>
</table>
