<section class="room-details ">
  <div *ngIf="room" class="container">
    <div class="main-image-wrapper row shadow border rounded-4 p-4">
      <div class="main-image col-12 col-lg-6" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1500">
        <img [src]="room.images[0]?.img_link" alt="Main Room Image" class="main-img">
        <div class="thumbnails-container">
          <div *ngFor="let image of room.images.slice(1)" class="thumbnail">
            <img [src]="image.img_link" alt="Room Image" class="thumbnail-img" (click)="displaySelectedImage(image)">
          </div>
        </div>
      </div>

      <div class="description-container col-12 col-lg-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
        <h2 class="text-center">Room Number: {{ room.room_number }}</h2>
        <ul class="bullet-list">
          <li *ngFor="let data of room.description.split('#')" class="bullet-item">
            {{ data }}
          </li>
          <li>Room is {{ room.roomStatus }}</li>
        </ul>
        <div class="center">
          <!-- <button (click)="checkloggin()" class="">Book Now</button> -->
          <button class="animated-button" (click)="checkloggin()">
            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
              </path>
            </svg>
            <span class="text">Book Now</span>
            <span class="circle"></span>
            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
              </path>
            </svg>
          </button>

        </div>
      </div>
    </div>

    <div class="engaged" *ngIf="engageTimeData">
      <h2>Engage Time Data</h2>
      <p>Date: {{ datetodisplay }}</p>
      <ul class="time" *ngFor="let time of engageTimeData">
        <li>Time: {{ time }}</li>
      </ul>
    </div>
  </div>
</section>