<div class="navbar">
  <i class="bi bi-arrow-90deg-left" routerLink="/userDashboardRoute"></i>
  <h1>GUESTS</h1>

  <button class="buttons" (click)="NavigateBookings()">View Bookings</button>
</div>

<div>
  <div class="search-bar">
    <select [(ngModel)]="selectedCriteria" (change)="onCriteriaChange($event)">
      <option *ngFor="let criteria of searchCriteria" [value]="criteria">
        {{ criteria }}
      </option>
    </select>
    <input [(ngModel)]="searchValue" placeholder="Enter value to search" />
    <button (click)="onSearch()">Search</button>
  </div>

  <section class="">
    <div>
      <table>
        <tr>
          <th>GUEST NAME</th>

          <th>GUEST MOBILE</th>
          <th>IDENTITY TYPE</th>

          <th>IDENTITY IMAGE</th>
          <th>ROOM BOOK</th>
        </tr>
        <tr *ngIf="!allCustomerArray || allCustomerArray.length === 0">
          <td colspan="17">No records found</td>
        </tr>
        <tr *ngFor="let data of allCustomerArray">
          <td data-label="customer_name">{{ data.customer_name }}</td>

          <td data-label="customer_mobile">{{ data.customer_mobile }}</td>
          <td data-label="identity_type">{{ data.identity_type }}</td>

          <td data-label="idenetity_Image">
            <ng-container *ngFor="let image of data.images">
              <a [href]="image.img_link" target="_blank">View Image</a>
            </ng-container>
          </td>
          <td>
            <button
              class="button-complete1 px-2 py-2"
              (click)="navigateBookRoom(data.customer_id)"
            >
              Book Room
            </button>
          </td>
        </tr>
      </table>
    </div>
  </section>

  <div style="display: flex; justify-content: center">
    <button class="buttons" (click)="previousPage()" [hidden]="page <= 0">
      Previous
    </button>
    <button class="buttons" (click)="nextPage()" [hidden]="!hasNextPage">
      Next
    </button>
  </div>
</div>
