<div class="navbar">


  <h2>ALL BOOKINGS </h2>
  <div class="abs">
    <div id="sidebar" [class.active]="isSidebarOpen">

      <div class="logo">
        <h1 class="ps-4">Manager</h1> <span class="closebtn pe-4" (click)="closeNav()">&#10005;</span>
      </div>
      <ul class="nav-list">
        <li><a routerLink="/customer">LOGIN</a></li>
        <li><a routerLink="/userRoomRoute">ROOM MODIFICATION </a></li>
        <li><a routerLink="/userFoodRoute">FOOD MODIFICATION</a></li>
        <!-- <li><a routerLink="/SliderImagesRoute">SLIDER IMAGES</a></li> -->
        <li><a routerLink="/login" (click)="service.logout()">LOG OUT</a></li>
        <!-- Add more items as needed -->
      </ul>
    </div>

    <span class="hamburger" (click)="openNav()">&#9776;</span>
    <div class="d-flex">

      <button (click)="NavigateRooms()" class="me-3 rounded-4 px-4 py-4 fw-bold shadow1">Dashboard</button>
      <h5 class="mt-4">Show booking :-</h5>
      <input type="date" class="animated-input1" style="color: black;" (input)="handleInputsGetbooking($event)">
    </div>
  </div>
  <div class="abs1">
    <input type="text" class="animated-input" placeholder="Search ..." [(ngModel)]="searchValue">
    <button class="btn btn-primary rounded-4 px-4 py-2 fw-bold shadow" (click)="getOrderMob()" [disabled]="searchValue == ''">Search</button>
    <!-- <input type="date" class="animated-input2" style="color: black;" (input)="handleInputs($event, 'date')">
    <select type="date" class="animated-input3" style="color: black;" (change)="handleInputs($event, 'room')">
      <option value="" hidden>Select Room No ..</option>
      <option *ngFor="let no of RoomNoArray">{{no}}</option>
    </select> -->
  </div>

</div>
<ng-container *ngIf="showDiv && EngageTimeNoArray && EngageTimeNoArray.length > 0">
  <div class="abs2">
    <div class="text-end">
    
    </div>
    <div class="engage-time-container" *ngFor="let data of EngageTimeNoArray">
      <h3>{{data.intime}} -- {{data.outtime}}</h3>
    </div>
  </div>
</ng-container>



<div class="toggle">
  <div class="toggle1">
    <p (click)="changeBookings('accepted')" [class.active]="currentMenu === 'accepted'">CURRENT BOOKINGS</p>
    <p (click)="changeBookings('manully')" [class.active]="currentMenu === 'manully'">MANUALLY BOOKINGS</p>
    <!-- <p (click)="changeBookings('approve')" [class.active]="currentMenu === 'approve'">USERSIDE APPROVED</p>


    <p (click)="changeBookings('pending')" [class.active]="currentMenu === 'pending'">USERSIDE BOOKING REQ</p> -->
    <p (click)="changeBookings('completed')" [class.active]="currentMenu === 'completed'">COMPLETED BOOKINGS</p>
  </div>
</div>


<section class="just1">

  <div class="over">
    <table class="margi">
      <tr class="">
        <th>Sr.No</th>
        <th>Date</th>
        <th>Booking Date</th>
        <th>Name</th>
        <th *ngIf="hasNonCompletedOrders()">Identity Type</th>
        <!-- <th *ngIf="hasNonCompletedOrders()">Identity Image</th> -->

        <!-- <th>Identity</th> -->
        <th>Room No</th>
        <th>Room Amt</th>
        <th>Advance</th>

        <th>Balance</th>
        <th>In Time</th>
        <th>Out Time</th>
        <th>Hour</th>
        <th>Remark</th>
        <th *ngIf="hasNonPendingOrders()">Food</th>
        <th>Total Amt</th>
        <th>Mob</th>
        <th *ngIf="hasNonCompletedOrders()">R Guest Name</th>
        <th *ngIf="hasNonCompletedOrders()">R Guest id type</th>
        <th *ngIf="hasNonCompletedOrders()">R Guest Identity</th>

        <th>Order status</th>
        <th>Action</th>
      </tr>


      <tr *ngFor="let booking of bookings; let i = index" class="over1">
        <td>{{i+1}}</td>
        <td>{{ booking.order1dto.date }}</td>
        <td>{{ booking.order1dto.bookingDate }}</td>
        <td>{{ booking.customers1Dto.customer_name }}</td>
        <td *ngIf="hasNonCompletedOrders()">{{ booking.customers1Dto.identity_type }}</td>

        <td *ngIf="hasNonCompletedOrders()">
          <ng-container *ngFor="let image of booking.customers1Dto.images">

            <a [href]="image.img_link" target="_blank"><i class="bi bi-download"></i></a>
          </ng-container>
        </td>

        <td>{{ booking.order1dto.roomDetails.room_number }}</td>
        <td>{{ booking.order1dto.roomDetails.amount }}</td>



        <td>
          <div *ngIf="booking.order1dto.payments.length >0">
            <button (click)="showpayment(booking.order1dto.order_id)" class="but1">
              {{ activeBookingId1 === booking.order1dto.order_id ? 'Close' : 'View' }}
            </button>
          </div>

          <div *ngIf="activeBookingId1 === booking.order1dto.order_id" class="posi">
            <table>
              <tr>
                <th>Amount</th>
                <th>PayType</th>
              </tr>
              <tr *ngFor="let payment of booking.order1dto.payments">
                <td>{{ payment.amount }}</td>
                <td>{{ payment.type }}</td>
              </tr>
            </table>
          </div>
        </td>

        <td>{{ booking.order1dto.remaining_amount }}
          <div *ngIf="booking.order1dto.orderStatus === 'ACCEPT'">
            <div *ngIf="booking.order1dto.remaining_amount > 0" class="input-container d-flex ">
              <input type="number" [(ngModel)]="booking.inputAmount" placeholder="Amount" class="input-with-button wid"
                required #amount="ngModel" />

              <select [(ngModel)]="booking.order1dto.PaymentType" class="wid1" required #paymentType="ngModel">
                <option value="" disabled>Select P Type</option>
                <option value="ONLINE">ONLINE</option>
                <option value="CASH">CASH</option>
              </select>

              <button class="payBtn mt-2" (click)="payAmt(booking)">
                Pay
              </button>

            </div>

          </div>
        </td>



        <td>{{ booking.order1dto.intime }}</td>
        <td>{{ booking.order1dto.outtime }}</td>
        <td>
          <ng-container *ngIf="booking.order1dto.roomDetails.duration === 'three_hour'">3</ng-container>
          <ng-container *ngIf="booking.order1dto.roomDetails.duration === 'six_hour'">6</ng-container>
          <ng-container *ngIf="booking.order1dto.roomDetails.duration === 'nine_hour'">9</ng-container>
          <ng-container *ngIf="booking.order1dto.roomDetails.duration === 'twelve_hour'">12</ng-container>
          <ng-container *ngIf="booking.order1dto.roomDetails.duration === 'sixteen_hour'">16</ng-container>
          <ng-container *ngIf="booking.order1dto.roomDetails.duration === 'twentyfour_hour'">24</ng-container>
          <ng-container *ngIf="booking.order1dto.roomDetails.duration === 'full_night'">Full Night</ng-container>
        </td>
        <td>{{ booking.order1dto.remark }}</td>
        <td *ngIf=" booking.order1dto.orderStatus != 'PENDING' && booking.order1dto.orderStatus != 'MANUAL'">
          <!-- <button (click)="toggleFoodDetails(booking)">view</button> -->
          <div *ngIf="booking.order1dto.foodDetails.length > 0">
            <button (click)="showFood(booking.order1dto.order_id)" class="but1">
              {{ activeBookingId === booking.order1dto.order_id ? 'Close' : 'View' }}
            </button>
          </div>


          <div *ngIf="activeBookingId === booking.order1dto.order_id" class="posi1">
            <table>
              <tr>
                <th>Food Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <!-- <th>Sub Total</th> -->
              </tr>
              <tr *ngFor="let food of booking.order1dto.foodDetails">
                <td>{{ food.food_name }}</td>
                <td>{{ food.quantity }}</td>
                <td>{{ food.amount }}</td>
                <!-- <td>{{ food.quantity * food.amount }}</td> -->
              </tr>
              <tr>
                <td colspan="2"><b>Total:</b></td>
                <td style="background-color: green; color:white
                ">{{ totalAmountsByOrderId[booking.order1dto.order_id] }}</td> <!-- Display the total amount here -->
              </tr>
            </table>
          </div>
        </td>
        <td>{{booking.order1dto.totalAmount }} </td>
        <td>{{ booking.customers1Dto.customer_mobile }}</td>
        <td *ngIf="hasNonCompletedOrders()">
          <ng-container *ngIf="booking.order1dto.relatedCustomer !== null">
            {{booking.order1dto.relatedCustomer.name}}</ng-container>
        </td>
        <td *ngIf="hasNonCompletedOrders()">
          <ng-container *ngIf="booking.order1dto.relatedCustomer !== null">
            {{booking.order1dto.relatedCustomer.idenetityType}}</ng-container>
        </td>
        <td *ngIf="hasNonCompletedOrders()">
          <ng-container
            *ngIf="booking.order1dto.relatedCustomer !== null && booking.order1dto.relatedCustomer.idtyImages && booking.order1dto.relatedCustomer.idtyImages.length > 0">
            <ng-container *ngFor="let image of booking.order1dto.relatedCustomer.idtyImages">
              <a [href]="image.img_link" target="_blank"><i class="bi bi-download"></i></a>
            </ng-container>
          </ng-container>


        <td>{{ booking.order1dto.orderStatus }}</td>
        <td>
          <div *ngIf="booking.order1dto.orderStatus === 'COMPLETE'">
            <i class="bi bi-download" (click)="downloadBill(booking)"></i>

          </div>

          <div *ngIf="booking.order1dto.orderStatus === 'PENDING'">


            <button class="button-accept me-2"
              (click)="updateOrderStatus(booking.order1dto.order_id, 'APPROVE')">Approve</button>
            <button class="button-reject"
              (click)="updateOrderStatus(booking.order1dto.order_id, 'REJECT')">Reject</button>
          </div>
          <div class="dflex" *ngIf="booking.order1dto.orderStatus === 'ACCEPT'">
            <button class="button-complete me-2 px-2 py-2"
              (click)="navigateFinalRoom(booking.order1dto.roomDetails.room_number)">ADD FOOD</button><br>
            <button class="button-complete1 px-2 py-2"
              (click)="updateOrderStatus(booking.order1dto.order_id, 'COMPLETE')">Complete</button>


          </div>
          <div *ngIf="booking.order1dto.orderStatus === 'MANUAL' || booking.order1dto.orderStatus === 'APPROVE'">
            <button class="button-complete1 px-2 py-2 my-1" (click)="navigateBooking(booking.order1dto.order_id)">Book
              Room </button>
          </div>
        </td>
      </tr>
      <!-- </div> -->
      <tr *ngIf="!bookings || bookings.length === 0">
        <td colspan="17">No records found</td>
      </tr>

    </table>
  </div>
</section>
<div>


  <div *ngIf="ShowPagibtn" class="pagiButton" style="display: flex; justify-content: center;">
    <button (click)="previousPage()" [hidden]="page <= 0">Previous</button>
    <button (click)="nextPage()" [hidden]="!hasNextPage">Next</button>
  </div>