<div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()"></div>
<div *ngIf="isModalOpen && !dontshowmodel" class="modal-content">
  <h2>Enter Mobile Number</h2>
  <form [formGroup]="modalForm" (ngSubmit)="onModalSubmit()">
    <input
      type="tel"
      formControlName="mobileNumber"
      placeholder="Enter mobile number" maxlength="10"
      required
    />
    <button type="submit">Submit</button>
  </form>
</div>

<div class="bookings-container"  >
  <div class="bookings-content">
    <h2>All Bookings</h2>
    <div class="bookings-grid">
      <div class="booking-card" *ngFor="let booking of bookings.reverse()">
        <div class="card-content">
          <div class="status-badge-container">
            <span
              [ngClass]="{
                'badge-warning': booking.order1dto.orderStatus === 'PENDING',
                'badge-success': booking.order1dto.orderStatus === 'APPROVE',
                'badge-danger': booking.order1dto.orderStatus === 'REJECT',
                'badge-Info': booking.order1dto.orderStatus === 'COMPLETE'
              }"
              >{{ booking.order1dto.orderStatus }}</span
            >
          </div>
          <p>Guest : {{ booking.customers1Dto.customer_name }}</p>
          <div *ngFor="let relative of booking.relatedCustomer">
            <p>Related Guest : {{ relative.name }}</p>
          </div>
          <p>Room Number : {{ booking.order1dto.roomDetails.room_number }}</p>
          <p>Order No : {{ booking.order1dto.order_no }}</p>
          <p>Date: {{ booking.order1dto.date | date : "shortDate" }}</p>
          <div class="row">
            <p class="col-6">In-time : {{ booking.order1dto.intime }}</p>
            <p class="col-6">Out-time : {{ booking.order1dto.outtime }}</p>
          </div>
          <p>Duration : {{ booking.order1dto.roomDetails.duration }}</p>
          <!-- <p>Paid Amount: {{ booking.order1dto.paid_amount }}</p> -->
          <div class="row">
            <p class="col-6">Paid Amount :</p>
            <p class="text-end col-6">
              {{ booking.order1dto.paid_amount | currency : "INR" }}
            </p>
          </div>
          <hr />
          <div class="row">
            <p class="col-6">Total Amount :</p>
            <p class="text-end col-6">
              {{ booking.order1dto.totalAmount | currency : "INR" }}
            </p>
          </div>
          <marquee *ngIf="booking.order1dto.orderStatus == 'PENDING'"
            >* Note: Booking has been sent to Admin for Approval, once its
            approved you will get payment options *</marquee
          >
          <button
            *ngIf="booking.order1dto.orderStatus == 'APPROVE'"
            (click)="payment(booking.order1dto.order_id)"
          >
            Proceed to Payment
          </button>
        </div>
      </div>
      <div class="message-card" *ngIf="message">No bookings present</div>
    </div>
  </div>
</div>
