

<section class="hero" style="background-image: url('assets/images/IMG-20240716-WA0061.jpg');">
    <div class="hero-content">
      <h1>Suit With Balcony Room</h1>
      <p>      Experience unparalleled luxury in our elegantly designed rooms. Enjoy breathtaking views, modern amenities, and exceptional comfort.
      </p>
      <button routerLink="/booking" class="btn btn-primary">Book Now</button>
    </div>
  </section>
  
  <section class="room-details">
    <div class="container">
      <h2>Room Features</h2>
      <div class="features-list">
        <div class="feature-item">
          <i class="fas fa-bed"></i>
          <h3>King-sized Bed</h3>
          <p>Large, plush bed with high-quality linens and a comfortable mattress.</p>
        </div>
        <div class="feature-item">
          <i class="fas fa-couch"></i>
          <h3>Panoramic View</h3>
          <p>Floor-to-ceiling windows offering stunning views of the surrounding landscape or cityscape.</p>
        </div>
        <div class="feature-item">
          <i class="fas fa-tv"></i>
          <h3>Flat-screen TV</h3>
          <p>Enjoy your favorite shows on the flat-screen TV with cable channels.</p>
        </div>
        <div class="feature-item">
          <i class="fas fa-wifi"></i>
          <h3>Free Wi-Fi</h3>
          <p>Stay connected with our complimentary high-speed internet.</p>
        </div>
        <div class="feature-item">
          <i class="fas fa-bath"></i>
          <h3>Luxury Bathroom</h3>
         
          <p>Private bathroom with premium toiletries and modern amenities.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="gallery">
    <div class="container">
      <h2>Room Gallery</h2>
      <div class="gallery-list">
        <img src="assets/images/IMG-20240716-WA0056.jpg" alt="Deluxe Room Image 1" class="gallery-image">
        <img src="assets/images/IMG-20240716-WA0057.jpg" alt="Deluxe Room Image 2" class="gallery-image">
        <img src="assets/images/IMG-20240716-WA0058.jpg" alt="Deluxe Room Image 3" class="gallery-image">
        <img src="assets/images/IMG-20240716-WA0059.jpg" alt="Deluxe Room Image 4" class="gallery-image">
        <img src="assets/images/IMG-20240716-WA0061.jpg" alt="Deluxe Room Image 3" class="gallery-image">
        <img src="assets/images/IMG-20240716-WA0062.jpg" alt="Deluxe Room Image 4" class="gallery-image">
        <img src="assets/images/IMG-20240716-WA0063.jpg" alt="Deluxe Room Image 4" class="gallery-image">
      </div>
    </div>
  </section>
  
  <div class="image-modal" id="image-modal">
    <img id="modal-image" />
  </div>
  
