<div class="navbar">
  <i class="bi bi-arrow-90deg-left" routerLink="/userDashboardRoute"></i>
  <h1>ROOM BOOK FORM</h1>
</div>

<form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
  <!-- Customer Details -->
  <div class="margin-top-medium">
    <div class="d-flex">
      <label class="mb-0 mt-1">Manual booking :-</label>
      <input
        class="check ms-4"
        type="checkbox"
        formControlName="manualBooking"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>Date:</label>
      <input formControlName="date" type="date" />
      <div
        *ngIf="
          bookingForm.get('date')?.invalid &&
          (bookingForm.get('date')?.dirty || bookingForm.get('date')?.touched)
        "
      >
        <small *ngIf="bookingForm.get('date')?.errors?.['required']"
          >Date is required.</small
        >
      </div>
    </div>

    <div class="col-md-6">
      <label>Booking Date:</label>
      <input formControlName="bookingDate" type="date" />
      <div
        *ngIf="
          bookingForm.get('bookingDate')?.invalid &&
          (bookingForm.get('bookingDate')?.dirty ||
            bookingForm.get('bookingDate')?.touched)
        "
      >
        <small *ngIf="bookingForm.get('bookingDate')?.errors?.['required']"
          >Booking Date is required.</small
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label> Guest Name:</label>
      <input formControlName="customer_name" placeholder="Guest Name" />
      <div
        *ngIf="
          bookingForm.get('customer_name')?.invalid &&
          (bookingForm.get('customer_name')?.dirty ||
            bookingForm.get('customer_name')?.touched)
        "
      >
        <small *ngIf="bookingForm.get('customer_name')?.errors?.['required']"
          >Guest Name is required.</small
        >
      </div>
    </div>

    <div class="col-md-6">
      <label>Phone Number:</label>
      <input formControlName="customer_mobile" placeholder="Guest Mobile" />
      <div
        *ngIf="
          bookingForm.get('customer_mobile')?.invalid &&
          (bookingForm.get('customer_mobile')?.dirty ||
            bookingForm.get('customer_mobile')?.touched)
        "
      >
        <small *ngIf="bookingForm.get('customer_mobile')?.errors?.['required']"
          >Customer Mobile is required.</small
        >
        <small *ngIf="bookingForm.get('customer_mobile')?.errors?.['pattern']"
          >Invalid mobile number.</small
        >
      </div>
    </div>
  </div>

  <div>
    <label for="identity_type">Identity Type:</label>
    <select formControlName="identity_type" id="identity_type">
      <option value="" disabled>Select an identity type</option>
      <option value="ADHARCARD">Aadhaar Card</option>
      <option value="PANCARD">Pancard</option>
      <option value="DRIVING_LICENCE">Driving Licence</option>
    </select>
    <div
      *ngIf="
        bookingForm.get('identity_type')?.invalid &&
        (bookingForm.get('identity_type')?.dirty ||
          bookingForm.get('identity_type')?.touched)
      "
    >
      <small *ngIf="bookingForm.get('identity_type')?.errors?.['required']"
        >Identity Type is required.</small
      >
    </div>
  </div>

  <div>
    <label>Guest File:</label>
    <div class="d-flex">
      <label class="mb-0 mt-1">Use Webcam:</label>
      <input
        class="check ms-4"
        type="checkbox"
        (change)="toggleCustomerWebcamOption()"
      />
    </div>
    <div *ngIf="useCustomerWebcam; else customerFileInput">
      <webcam
        [trigger]="customerTriggerObservable"
        (imageCapture)="handleCustomerImage($event)"
      ></webcam>
      <button type="button" (click)="triggerCustomerSnapshot()">
        TAKE PICTURE
      </button>
      <div class="flex">
        <div
          *ngFor="let img of customerWebcamImages; let i = index"
          class="image-container"
        >
          <img [src]="img.imageAsDataUrl" />
          <button
            type="button"
            (click)="removeCustomerImage(i)"
            class="remove-button"
          >
            X
          </button>
        </div>
      </div>
    </div>
    <ng-template #customerFileInput>
      <div class="wid2">
        <!-- <label>Customer File:</label> -->
        <input
          type="file"
          (change)="onFileChange($event, 'customerFile')"
          multiple
        />
      </div>
    </ng-template>
  </div>

  <div formGroupName="relatedCustomer" class="row">
    <div class="col-md-6">
      <label>Second Guest Name:</label>
      <input formControlName="name" placeholder="Related Guest Name" />
      <div
        *ngIf="
          bookingForm.get('relatedCustomer')?.get('name')?.invalid &&
          (bookingForm.get('relatedCustomer')?.get('name')?.dirty ||
            bookingForm.get('relatedCustomer')?.get('name')?.touched)
        "
      >
        <small
          *ngIf="bookingForm.get('relatedCustomer')?.get('name')?.errors?.['required']"
          >Related Guest Name is required.</small
        >
      </div>
    </div>
    <div class="col-md-6">
      <label for="idenetityType">Identity Type:</label>
      <select formControlName="idenetityType" id="idenetityType">
        <option value="" disabled>Select an identity type</option>
        <option value="ADHARCARD">Aadhaar Card</option>
        <option value="PANCARD">Pancard</option>
        <option value="DRIVING_LICENCE">Driving Licence</option>
      </select>
      <div
        *ngIf="
          bookingForm.get('relatedCustomer')?.get('idenetityType')?.invalid &&
          (bookingForm.get('relatedCustomer')?.get('idenetityType')?.dirty ||
            bookingForm.get('relatedCustomer')?.get('idenetityType')?.touched)
        "
      >
        <small
          *ngIf="bookingForm.get('relatedCustomer')?.get('idenetityType')?.errors?.['required']"
          >Related Guest Identity Type is required.</small
        >
      </div>
    </div>
  </div>

  <div>
    <label>Guest File:</label>
    <div class="d-flex">
      <label class="mb-0 mt-1">Use Webcam:</label>
      <input
        class="check ms-4"
        type="checkbox"
        (change)="toggleRelatedWebcamOption()"
      />
    </div>
    <div *ngIf="useRelatedWebcam; else relatedFileInput">
      <webcam
        [trigger]="relatedTriggerObservable"
        (imageCapture)="handleRelatedImage($event)"
      ></webcam>
      <button
        class="px-4 rounded-4 btn-success"
        type="button"
        (click)="triggerRelatedSnapshot()"
      >
        TAKE PICTURE
      </button>
      <div class="flex">
        <div
          *ngFor="let img of relatedWebcamImages; let i = index"
          class="image-container"
        >
          <img [src]="img.imageAsDataUrl" />
          <button
            type="button"
            (click)="removeRelatedImage(i)"
            class="remove-button"
          >
            X
          </button>
        </div>
      </div>
    </div>
    <ng-template #relatedFileInput>
      <div class="wid2">
        <label>Second Guest file</label>
        <input
          type="file"
          (change)="onFileChange($event, 'relatedFile')"
          multiple
        />
      </div>
    </ng-template>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label>In Time:</label>
      <input formControlName="intime" type="text" />
      <div
        *ngIf="
          bookingForm.get('intime')?.invalid &&
          (bookingForm.get('intime')?.dirty ||
            bookingForm.get('intime')?.touched)
        "
      >
        <small *ngIf="bookingForm.get('intime')?.errors?.['required']"
          >In Time is required.</small
        >
      </div>
    </div>

    <div class="col-md-6">
      <label>Out Time:</label>
      <input formControlName="outtime" type="text" />
      <div
        *ngIf="
          bookingForm.get('outtime')?.invalid &&
          (bookingForm.get('outtime')?.dirty ||
            bookingForm.get('outtime')?.touched)
        "
      >
        <small *ngIf="bookingForm.get('outtime')?.errors?.['required']"
          >Out Time is required.</small
        >
      </div>
    </div>
  </div>

  <!-- Room Details -->
  <div formGroupName="roomDetails">
    <div class="row">
      <div class="col-md-6">
        <label>Room Number:</label>
        <!-- <select id="room_number" formControlName="room_number" class="form-control" (change)="onRoomChange()">
        <option *ngFor="let data of RoomDetailArray" [ngValue]="data.room_number">{{data.room_number}}</option>
      </select> -->
        <input type="number" formControlName="room_number" readonly />

        <div
          *ngIf="
            bookingForm.get('roomDetails')?.get('room_number')?.invalid &&
            (bookingForm.get('roomDetails')?.get('room_number')?.dirty ||
              bookingForm.get('roomDetails')?.get('room_number')?.touched)
          "
        >
          <small
            *ngIf="bookingForm.get('roomDetails')?.get('room_number')?.errors?.['required']"
            >Room Number is required.</small
          >
        </div>
      </div>

      <div class="col-md-6">
        <label for="duration">Select hour:</label>
        <select
          id="duration"
          formControlName="duration"
          class="form-control"
          (change)="onDurationChange()"
        >
          <option value="" disabled>Select hour</option>
          <option value="three_hour">3 Hrs</option>
          <option value="six_hour">6 Hrs</option>
          <option value="nine_hour">9 Hrs</option>
          <option value="twelve_hour">12 Hrs</option>
          <option value="sixteen_hour">16 Hrs</option>
          <option value="twentyfour_hour">24 Hrs</option>
          <option value="full_night">Full Night</option>
        </select>
        <div
          *ngIf="
            bookingForm.get('roomDetails')?.get('duration')?.invalid &&
            (bookingForm.get('roomDetails')?.get('duration')?.dirty ||
              bookingForm.get('roomDetails')?.get('duration')?.touched)
          "
        >
          <small
            *ngIf="bookingForm.get('roomDetails')?.get('duration')?.errors?.['required']"
            >Duration is required.</small
          >
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 d-flex">
        <label class="mb-0 mt-5">AC:</label>
        <input
          class="check ms-4 mt-4"
          formControlName="is_ac"
          type="checkbox"
          (change)="onAcChange()"
        />
      </div>

      <div class="col-md-6">
        <label>Amount:</label>
        <input formControlName="amount" readonly />
        <div
          *ngIf="
            bookingForm.get('roomDetails')?.get('amount')?.invalid &&
            (bookingForm.get('roomDetails')?.get('amount')?.dirty ||
              bookingForm.get('roomDetails')?.get('amount')?.touched)
          "
        >
          <small
            *ngIf="bookingForm.get('roomDetails')?.get('amount')?.errors?.['required']"
            >Amount is required.</small
          >
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <label>Discount:</label>
        <select formControlName="discount">
          <option *ngFor="let percent of discountPercentages" [value]="percent">
            {{ percent }}%
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label>Final Amount:</label>
        <input formControlName="discountableAmount" type="number" readonly />
      </div>
    </div>
  </div>

  <!-- Advance Amount -->

  <!-- Advance Amount -->
  <div class="row">
    <div class="col-md-6">
      <label>Discount Amount:</label>
      <input formControlName="advance_amount" type="number" />
    </div>
    <div class="col-md-6">
      <label>Extra Amount:</label>
      <input formControlName="extra_amount" type="number" />
    </div>
  </div>

  <div>
    <label>Remark :</label>
    <input formControlName="remark" placeholder="Remark" />
  </div>

  <!-- Payments Array -->
  <div formArrayName="payments">
    <div
      *ngFor="let payment of payments.controls; let i = index"
      [formGroupName]="i"
      class="row"
    >
      <div class="col-md-6">
        <label>Amount</label>
        <input
          type="number"
          formControlName="amount"
          placeholder="Payment Amount"
        />
        <div
          *ngIf="
            payment.get('amount')?.invalid &&
            (payment.get('amount')?.dirty || payment.get('amount')?.touched)
          "
        >
          <small *ngIf="payment.get('amount')?.errors?.['required']"
            >Payment Amount is required.</small
          >
        </div>
      </div>
      <div class="col-md-6">
        <label for="type">Payment Type:</label>
        <select formControlName="type" id="type">
          <option value="" disabled>Select a payment type</option>
          <option value="ONLINE">Online</option>
          <option value="CASH">Cash</option>
        </select>
        <div
          *ngIf="
            payment.get('type')?.invalid &&
            (payment.get('type')?.dirty || payment.get('type')?.touched)
          "
        >
          <small *ngIf="payment.get('type')?.errors?.['required']"
            >Payment Type is required.</small
          >
        </div>
      </div>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
