<!-- <div class="navbar">
    <i class="bi bi-arrow-90deg-left" routerLink="/roomRoute" ></i>
    <h1>Room</h1>
    <button (click)="ClickAddRoom()">Add Room Type</button>
</div>

<div class="NewRoomContainer" *ngIf="AddNewRoomContainer">
  <span class="closebtn" (click)="closeNav()">&#10005;</span>
    <form [formGroup]="newRoomForm" (ngSubmit)="AddRoomFunTs()">
        <label>ROOM NO :</label>
        
        <input type="text" formControlName="room_number" id="number"  maxlength="10">
        
      
        <div
          *ngIf="
            newRoomForm.get('room_number')!.invalid &&
            newRoomForm.get('room_number')!.touched
          "
          class="ErrorMessage"
        >
          <div *ngIf="newRoomForm.get('room_number')!.errors?.['required']">Room No required.</div>
          <div *ngIf="newRoomForm.get('room_number')!.errors?.['pattern']">Password must contain at least one special character, one numeric character, and one lowercase character.</div>
        </div>
        
        <label>RATE : </label>
        <input type="text" formControlName="rate" maxlength="5" >
        <div
          *ngIf="
            newRoomForm.get('rate')!.invalid &&
            newRoomForm.get('rate')!.touched
          "
          class="ErrorMessage"
        >
          <div *ngIf="newRoomForm.get('rate')!.errors?.['required']">Room Rate is required.</div>
        </div>
<div>
        <label style="margin-right: 12px;">AC  </label>
        <input  type="checkbox" formControlName="ac" >
      </div>
        <label>HOURS : </label>
        <select formControlName="hours">
          <option value="3">3 hours </option>
          <option value="6">6 hours</option>
          <option value="9">9 hours</option>
          <option value="12">12 hours</option>
          <option value="16">16 hours</option>
          <option value="24">24 hours</option>

      </select>
        <label>ROOM STATUS : </label>
        <select formControlName="roomStatus">
            <option value="AVAILABLE">AVAILABLE </option>
            <option value="ENGAGE">ENGAGE</option>
            <option value="CLEAN">CLEAN</option>

        </select>
        
        <button class="btn btn-primary" [disabled]="newRoomForm.invalid" >SAVE</button>
          
      </form>
  
</div>


<table>
  <tr>
      <th>Room Number</th>
      <th>Room Rate</th>
      <th> Ac </th>
      <th> Hours </th>
      <th> Room Status </th>
      <th> Action </th>
  </tr>
  <tr *ngIf="RoomDetailArray === null">
      <td colspan="3" style="text-align:center">No record found</td>
  </tr>
  <tr *ngFor="let data of RoomDetailArray; let i = index">
      <td>{{ data.room_number }}</td>
      <td >{{ data.rate}}</td>
      <td>{{data.ac}}</td>
      <td>{{data.hours}}</td>
      <td>{{data.roomStatus}}</td>
     
      
      
      <td>
        <i class="bi bi-pencil-square" (click)="EditRoom(data)"></i>
          <i class="bi bi-trash3" (click)="DeleteRoom(data.room_id)"></i>
       <a (click)="navigateRoomDetail(data.room_category_id)">view or add room</a> 
    </td> 
  </tr>
</table>
 -->
