/* Container styling */
.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px;
    position: relative;
}

.NewRoomContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar i {
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 15px;
}

.navbar h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

/* Table styling */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Input field styling */
input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(50% - 20px);
}
.NewRoomContainer input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(30% - 20px);
}

input[type="text"]:focus {
    border-color: #66afe9;
    outline: none;
}

/* Save button styling */
button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
   
}

button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Edit and delete icons */
i {
    cursor: pointer;
    margin: 0 8px;
}

i:hover {
    color: #007bff;
}

/* Validation message */
.text-danger {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

/* Responsive design */
@media (max-width: 768px) {
    table {
        width: 100%;
    }
    
    th, td {
        padding: 8px;
        font-size: 14px;
    }
    
    button {
        width: 100%;
    }
}
